/*global css*/
:root{
    /*primary*/
    --dark-cyan:hsl(158, 36%, 37%);
    --cream:hsl(30, 38%, 92%);
    /*neutral*/
    --very-dark-blue:hsl(212, 21%, 14%);
    --dark-geryish-blue:hsl(228, 12%, 48%);
    --white:hsl(0, 0%, 100%);
}

html{
    font-size: calc(15px + 0.390625vw);
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', arial, sans-serif;
    color: var(--very-dark-blue);
    overflow: hidden;
    margin: 0;
    background-color: var(--cream);
}

main{
    height:95vh;
    display: flex;
    flex-direction: column;
}

.card-container{
    height: 100%;
    display:grid;
    grid-template-rows: min-content;
    /*grid-template-rows: 45% 15% 20% 10% 10%;*/
    grid-template-rows: 40% 60%;
    background-color: var(--white);
    border-radius: 10px;
    margin: calc(15px + 1.5625vw);
}

.item-pic{
    background: url(./product-preview-card-component-main/images/image-product-mobile.jpg) no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-content{
    display: grid;

    padding-inline: calc(15px + 1.5625vw);
    padding-top: calc(15px + 1.5625vw);
    padding-bottom: calc(15px + 1.5625vw);
}

.text-content *{
    margin: 0;
}

.intro-div{
    display: flex;
    flex-direction: column;
    gap: calc(5px + 1.5625vw);
}

.item-name{
    font-family: 'Fraunces';
    font-size:2rem;
    line-height: 35px;
}

.item-type,
.item-desc,
.item-price{
    color: var(--dark-geryish-blue);
    font-weight: 500;
    font-size: .85rem;
}


.prices-container{
    display: flex;
    align-items: center;
    gap: calc(10px + 1.5625vw);
}

.item-sale-price{
    font-size: 2rem;
    color: var(--dark-cyan);
    font-family: 'Fraunces';
}

.item-price{
    text-decoration: line-through;
}

.atc-button{
    display: flex;
    background-color: var(--dark-cyan);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: calc(8px + 1.5625vw);
}

.atc-text{
    color: var(--white);
    font-size: .95rem;
}


@media only screen and (min-width:768px) and (orientation:landscape){

}
